
.ipynb_checkpoints/Untitled-checkpoint.ipynb
.ipynb_checkpoints/Sentiment Play-checkpoint.ipynb
Untitled.ipynb
.ipynb_checkpoints/Untitled-checkpoint.ipynb
Untitled.ipynb
.ipynb_checkpoints/Untitled-checkpoint.ipynb
Untitled.ipynb
archive.zip
gutenberg-poetry-v001.ndjson.gz
Reviews.csv
wordcloud-1.8.1-cp39-cp39-win_amd64.whl
wordcloud-1.8.1-pp37-pypy37_pp73-win_amd64.whl
wordcloud-1.8.1-pp38-pypy38_pp73-win_amd64.whl
wordcloud11.png
wordcloud33.png
.ipynb_checkpoints/Poetria-checkpoint.ipynb
.ipynb_checkpoints/Poetry_Data_Play-checkpoint.ipynb
